.node-red/.flows_DESKTOP-6J6JKDN.json.backup
[{"id":"844ac53f.fd94d8","type":"tab","label":"Flow 1"},{"id":"56d65eff.cbb5d","type":"socketio-config","z":"844ac53f.fd94d8","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"3c716ae9.f3afc6","type":"socketio-in","z":"844ac53f.fd94d8","name":"","server":"56d65eff.cbb5d","rules":[{"v":"test"},{"v":"light"},{"v":"humidity"},{"v":"ultraviolet"},{"v":"pressure"},{"v":"temperature"}],"x":92.54764556884766,"y":388.5238437652588,"wires":[["e5d86905.d68588"]]},{"id":"eb1ec020.e69b6","type":"socketio-out","z":"844ac53f.fd94d8","name":"","server":"56d65eff.cbb5d","x":822.4048118591309,"y":399.2857332229614,"wires":[]},{"id":"53dc217c.5202e","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"payload.message","x":547.1191940307617,"y":523.0952949523926,"wires":[]},{"id":"c9db8305.a2b8","type":"function","z":"844ac53f.fd94d8","name":"test","func":"console.log(global.get('faker'));\nmsg.payload = { test: global.get('faker')}\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\nreturn msg;","outputs":1,"noerr":0,"x":541.6904678344727,"y":275.5237994194031,"wires":[["eb1ec020.e69b6"]]},{"id":"e5d86905.d68588","type":"switch","z":"844ac53f.fd94d8","name":"","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"test","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"ultraviolet","vt":"str"},{"t":"eq","v":"pressure","vt":"str"},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"false","outputs":6,"x":276.26192474365234,"y":388.3810386657715,"wires":[["c9db8305.a2b8","53dc217c.5202e"],["7133185b.554478"],["77acb7c6.9d76a8"],["b24df76f.621e98"],["92e31ba2.068768"],["f8906135.d0419"]]},{"id":"cefd809a.d62f9","type":"inject","z":"844ac53f.fd94d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":124.83334350585938,"y":101.00000953674316,"wires":[["b383c4a0.ebb418","c1bcc08f.3b032","92e7cde2.2af89","4d562cf3.aeed44","aec349f3.8e01a8","abc75930.f0f978"]]},{"id":"529d833f.5c71cc","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"payload","x":799.9763717651367,"y":25.71428871154785,"wires":[]},{"id":"b383c4a0.ebb418","type":"function","z":"844ac53f.fd94d8","name":"test","func":"global.set('faker', Math.random());\nmsg.payload = Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":519.9762191772461,"y":26.142897605895996,"wires":[["529d833f.5c71cc"]]},{"id":"c1bcc08f.3b032","type":"function","z":"844ac53f.fd94d8","name":"light sensor","func":"// create fake data\nglobal.set('light', Math.random() * 700);\n\n// only for debug\nmsg.payload = {light: global.get('light')};\n\nreturn msg;","outputs":1,"noerr":0,"x":508.83336639404297,"y":63.09526252746582,"wires":[["19aeefb7.51d83"]]},{"id":"92e7cde2.2af89","type":"function","z":"844ac53f.fd94d8","name":"humidity sensor","func":"// create fake data\nglobal.set('humidity', Math.random() * 200);\n\n// only for debug\nmsg.payload = {humidity: global.get('humidity')};\n\nreturn msg;","outputs":1,"noerr":0,"x":507.761962890625,"y":97.76194667816162,"wires":[["c6542c05.c912d"]]},{"id":"4d562cf3.aeed44","type":"function","z":"844ac53f.fd94d8","name":"ultraviolet sensor","func":"// create fake data\nglobal.set('ultraviolet', Math.random() * 100);\n\n// only for debug\nmsg.payload = {ultraviolet: global.get('ultraviolet')};\n\nreturn msg;","outputs":1,"noerr":0,"x":508.33335876464844,"y":132.90479278564453,"wires":[["5b642dd5.38bce4"]]},{"id":"aec349f3.8e01a8","type":"function","z":"844ac53f.fd94d8","name":"pressure sensor","func":"// create fake data\nglobal.set('pressure', Math.random() * 500);\n\n// only for debug\nmsg.payload = {pressure: global.get('pressure')};\nreturn msg;","outputs":1,"noerr":0,"x":509.7619400024414,"y":165.19051361083984,"wires":[["c37ba7a2.4b9af8"]]},{"id":"abc75930.f0f978","type":"function","z":"844ac53f.fd94d8","name":"temperature sensor","func":"// create fake data\nglobal.set('temperature', Math.random() * 50);\n\n// only for debug\nmsg.payload = {temperature: global.get('temperature')};\n\nreturn msg;","outputs":1,"noerr":0,"x":505.47621154785156,"y":200.333345413208,"wires":[["f79a0302.1e6b4"]]},{"id":"19aeefb7.51d83","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"false","x":798.3332977294922,"y":62.38095474243164,"wires":[]},{"id":"c6542c05.c912d","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"false","x":798.3333778381348,"y":99.5238208770752,"wires":[]},{"id":"5b642dd5.38bce4","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"false","x":795.4764022827148,"y":133.80957221984863,"wires":[]},{"id":"c37ba7a2.4b9af8","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"false","x":798.3333435058594,"y":168.09525680541992,"wires":[]},{"id":"f79a0302.1e6b4","type":"debug","z":"844ac53f.fd94d8","name":"","active":true,"console":"false","complete":"false","x":798.3333625793457,"y":202.38097953796387,"wires":[]},{"id":"7133185b.554478","type":"function","z":"844ac53f.fd94d8","name":"light package","func":"// get data from global and make a package for emit\nmsg.payload = { light: global.get('light') };\n\n// setup emit function\nRED.util.setMessageProperty(msg, 'socketIOEmit', 'emit', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":539.7619476318359,"y":313.9523410797119,"wires":[["eb1ec020.e69b6"]]},{"id":"77acb7c6.9d76a8","type":"function","z":"844ac53f.fd94d8","name":"humidity package","func":"// get data from global and make a package for emit\nmsg.payload = { humidity: global.get('humidity') };\n\n// setup emit function\nRED.util.setMessageProperty(msg, 'socketIOEmit', 'emit', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":539.0476150512695,"y":352.0475959777832,"wires":[["eb1ec020.e69b6"]]},{"id":"b24df76f.621e98","type":"function","z":"844ac53f.fd94d8","name":"ultraviolet package","func":"// get data from global and make a package for emit\nmsg.payload = { ultraviolet: global.get('ultraviolet') };\n\n// setup emit function\nRED.util.setMessageProperty(msg, 'socketIOEmit', 'emit', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":539.0475540161133,"y":389.19048500061035,"wires":[["eb1ec020.e69b6"]]},{"id":"92e31ba2.068768","type":"function","z":"844ac53f.fd94d8","name":"pressure package","func":"// get data from global and make a package for emit\nmsg.payload = { pressure: global.get('pressure') };\n\n// setup emit function\nRED.util.setMessageProperty(msg, 'socketIOEmit', 'emit', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":539.0475692749023,"y":426.3333053588867,"wires":[["eb1ec020.e69b6"]]},{"id":"f8906135.d0419","type":"function","z":"844ac53f.fd94d8","name":"temperature package","func":"// get data from global and make a package for emit\nmsg.payload = { temperature: global.get('temperature') };\n\n// setup emit function\nRED.util.setMessageProperty(msg, 'socketIOEmit', 'emit', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":543.3333053588867,"y":463.47616958618164,"wires":[["eb1ec020.e69b6"]]}]